---
import MainLayout from '../../layouts/MainLayout.astro';
import RegisterForm from '../../components/auth/RegisterForm.jsx';
---

<MainLayout title="Daftar Akun | Qurio Platform">
  <main>
    <RegisterForm client:load />
  </main>
</MainLayout>